<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Restaurant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
</head>
<body>
    <header>
        <h1><u><b>The Restaurant</b></u></h1>
        <img src="/images/logo.png">
        <hr>
    </header>
    <div>
        <nav>
            <button onclick="location.replace('/custAccount?accountDetails=')">Account</button>
            <button onclick="location.replace('/custBookings')">Bookings</button>
            <button>Orders</button>
            <button>Info + Menus</button>
            <button onclick="location.replace('/')">Sign Out</button>
        </nav>
    </div>
    <div>

    </div>
    <footer>
        <a>Contact Info</a>
        <a>Terms</a>
        <a>Help</a>
        <p>Restaurants Ⓒ</p>
    </footer>
</body>
</html>