<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Restaurant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header>
        <h1><u><b>The Restaurant</b></u></h1>
        <img src="/images/logo.png">
        <hr>
    </header>
    <div>
        <nav>
            <button>Account</button>
            <button onclick="location.replace('/custBookings')">Bookings</button>
            <button onclick="location.replace('/custOrders')">Orders</button>
            <button onclick="location.replace('/custInfoMenu')">Info + Menus</button>
            <button onclick="location.replace('/')">Sign Out</button>
        </nav>
    </div>
    <div>
        <h1><u>Account</u></h1>
        <h3>First Name:</h3>
        <h3>Last Name:</h3>
        <h3>Customer ID:</h3>
        <h3>Email Address:</h3>
        <h3>Password:</h3>
        <h3>Total Amount Spent:</h3>
        <h3>Promotional Emails:</h3>
        <h3>Member Points:</h3>
    </div>
    <div>
        <h4>Want to change your email address?</h4>
        <a>Click Here!</a>
        <h4>Want to change your password?</h4>
        <a>Click Here!</a>
    </div>
    <footer>
        <a>Contact Info</a>
        <a>Terms</a>
        <a>Help</a>
        <p>Restaurants Ⓒ</p>
    </footer>
</body>
</html>