<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Restaurant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link rel="script" href="/javascript/logIn.js">
    <link rel="stylesheet" href="/css/logIn.css">
</head>
<body>
    <header>
        <h1><u><b>The Restaurant</b></u></h1>
        <img src="/images/logo.png">
        <hr>
    </header>
    <div>
        <button type="button" onclick="location.replace('/')">Back</button>
    </div>
    <div>
        <form>
            <h2>Log In</h2>
            <h4>Email Address:</h4>
            <input type="email" id="email">
            <h4>Password:</h4>
            <input type="password" id="pass">
            <i class="bi bi-eye-slash-fill" id="passToggle"></i>
            <button type="button" id="submit">Log In</button>
            <p style="color:red" id="errorOne"></p>
        </form>
    </div>
    <footer>
        <a>Contact Info</a>
        <a>Terms</a>
        <a>Help</a>
        <p>Restaurants Ⓒ</p>
    </footer>
    <script src="/javascript/logIn.js"></script>
</body>
</html>