<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Restaurant</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/css/signUp.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
        <link rel="script" href="/javascript/signUp.js">
    </head>
    <body>
        <header>
            <h1><u><b>The Restaurant</b></u></h1>
            <img src="/images/logo.png">
            <hr>
        </header>
        <div>
            <button type="button" onclick="location.replace('/')">Back</button>
        </div>
        <div>
            <form type="submit">
                <h2><u>Sign Up</u></h2>
                <h4>First Name:</h4>
                <input type="text">
                <h4>Last Name:</h4>
                <input type="text">
                <h4>Email Address:</h4>
                <input type="email">
                <h4>Password:</h4>
                <input type="password" id="password">
                <i class="bi bi-eye-slash-fill" id="passToggle"></i>
                <h4>Re-enter Password:</h4>
                <input type="password" id="reenterPass">
                <i class="bi bi-eye-slash-fill" id="reenterPassToggle"></i>
                <h4>Promotional Emails:</h4>
                <select name="promoEmails" id="promoEmails">
                    <option>Never</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Annually</option>
                </select>
                <button type="button">Sign Up</button>
            </form>
        </div>
        <footer>
            <a>Contact Info</a>
            <a>Terms</a>
            <a>Help</a>
            <p>Restaurants Ⓒ</p>
        </footer>
        <script src="/javascript/signUp.js"></script>
    </body>
</html>