<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Restaurant</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/css/signUp.css">
    </head>
    <body>
        <header>
            <h1><u><b>The Restaurant</b></u></h1>
            <img src="/images/logo.png">
            <hr>
        </header>
        <div>
            <h2><u>Sign Up</u></h2>
            <h4>First Name:</h4>
            <input type="text">
            <h4>Last Name:</h4>
            <input type="text">
            <h4>Email Address:</h4>
            <input type="email">
            <h4>Password:</h4>
            <input type="password">
            <h4>Re-enter Password:</h4>
            <input type="password">
            <h4>Promotional Emails:</h4>
            <select name="promoEmails", id="promoEmails">
                <option>Never</option>
                <option>Weekly</option>
                <option>Monthly</option>
                <option>Annually</option>
            </select>
            <button type="button">Submit</button>
        </div>
        <footer>
            <a>Contact Info</a>
            <a>Terms</a>
            <a>Help</a>
            <p>Restaurants Ⓒ</p>
        </footer>
    </body>
</html>